* {
  font-family: monospace;
}

body{
  display: block;
max-width: 500px;
margin: auto;
}

@media (max-width: 600px){
body {
  max-width: 500px;
}

section {
  max-width: 500px;
}
}

h1 {
  text-align: center;
  font-size: 50px;
  border: 10px solid black;
  border-radius: 30px;
  padding: 20px;
}

li {
  text-align: center;
}

header {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.series-number{
  text-align: center;
}

code {
  display: block;
  text-align: center;
  margin-top: 20px;
}

section {
  border-radius: 30px;
  padding: 20px;
  margin-top: 30px;
}

section[id="ACOTAR"]{
  border: 5px solid rgb(165, 60, 60);
}

section[id="ACOMAF"]{
  border: 5px solid green;
}

section[id="ACOWAR"]{
  border: 5px solid rgb(255, 81, 116);
}

section[id="ACOFAS"]{
  border: 5px solid rgb(77, 175, 208);
}

section[id="ACOSF"]{
  border: 5px solid grey;
}